html {
  background-color: black;
  text-align: center;
  font-family: "Primetime";
}

a {
  display: block;
  font-size: 50px;
  text-decoration: none;
  color: #F4B0C3;
  margin: 70px 0 10px 0;
}

.date {
  font-family: helvetica;
  color: rgb(256, 256, 256, 0.6);
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 0;
}

a:hover {
  color: black;
  -webkit-text-stroke: 2px #F4B0C3;
}
