html {
  background-color: #f4e7a9;
}

/* main title */
h1 {
  font-family: Georgia, serif;
  text-align: center;
  font-size: 40px;
  margin: 50px 0 0 0;
  color: #EE8E12;
}

/* recipes */
.recipes {
  text-align: center;
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.recipe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 400px;
  cursor: pointer;
}
.recipe-title {
  font-family: Georgia, serif;
  text-align: center;
  font-size: 25px;
}

.recipe-img {
  width: 400px;
  height: 400px;
  overflow: cover;
}

/* ingredients */
.ingredient-title, .direction-title {
  font-weight: bold;
  font-size: 18px;
  font-family: roboto;
  text-align: left;
  margin-top: 40px;
  background-color: white;
  padding: 2px 5px;
}

.ingredients, .directions {
  text-align: left;
  font-size: 16px;
  font-family: roboto;
  margin-top: 0;
  margin-left: 0;
  background-color: rgb(255, 255, 255, 0.4);
}