html {
  background-color: #121212;
}

/* portrait */
#search, .restart, .background, .loading-container {
  display: none;
}

h2 {
  color: rgba(242, 13, 33, 0.7);
  font-family: "adobe-garamond-pro", serif;
  font-size: 25px;
  text-align: center;
}

.turnoff {
  color: rgb(255, 255, 255, 0.3);
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  position: relative;
  top: -300px;
}
.rotate {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-left: auto;
  margin-right: auto;
}

/* landscape */
@media screen and (orientation: landscape) {
  /* portrait display: none */
  h2 {
    display: none;
  }
  .turnoff {
    display: none;
  }
  .rotate {
    display: none;
  }
  #search, .restart, .background, .loading-container {
    display: block;
  }

  /* body */
  input {
    width: 100%;
    height: 100px;
    text-align: center;
    border: none;
    font-family: "adobe-garamond-pro", serif;
    font-weight: bold;
    font-size: 27px;
    background-color: rgb(18, 18, 18, 0);
    color: #E1CD76;
    margin-top: 10%;
  }
  
  /* restart */
  .restart {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.3);
    text-align: center;
    position: relative;
    top: 80px;
  }

    /* background */

    .background {
      position: fixed;
      top: 26%;
      left: 36%;
      z-index: -1;
      opacity: 0.6;
    }
  
  
    .fig1 {
      position: absolute;
      width: 185px;
      height: 208px;
  
      background: rgba(242, 13, 33, 0.22);
      filter: blur(100px);
      backdrop-filter: blur(4px);
    }
  
  
    .fig2 {
      position: absolute;
      width: 188px;
      height: 164px;
  
      background: rgba(144, 145, 130, 0.22);
      filter: blur(100px);
    }
  
    .fig3 {
      position: absolute;
      width: 188px;
      height: 164px;
  
      background: rgba(144, 145, 130, 0.06);
      filter: blur(100px);
    }
  
    .fig4 {
      position: absolute;
      width: 478px;
      height: 455px;
  
      background: rgba(56, 50, 50, 0.22);
      filter: blur(100px);
    }
  
    .fig5 {
      position: absolute;
      width: 193px;
      height: 184px;
  
      background: rgba(58, 42, 31, 0.17);
      filter: blur(100px);
    }

    /* loading */
    .loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 90vh;
      margin-top: -30%;
    }

    .loading1 {
      color: rgb(255, 255, 255, 0.5);
      font-family: Helvetica, sans-serif;
      font-size: 23px;
      font-weight: lighter;
    }
  
      /* loading */
      .loading1 {
        animation: fadeInOut 3.3s linear 1 normal forwards;
        -webkit-animation: fadeInOut 3.3s linear 1 normal forwards;
        -moz-animation: fadeInOut 3.3s linear 1 normal forwards;
        -o-animation: fadeInOut 3.3s linear 1 normal forwards;
        -ms-animation: fadeInOut 3.3s linear 1 normal forwards;
      }
      
      @keyframes fadeInOut {
        0% {opacity:0;}
        25% {opacity:1;}
        50% {opacity:0;}
        75% {opacity:1;}
        100% {opacity:0; visibility: hidden;}
      }
      
      @-moz-keyframes fadeInOut {
        0% {opacity:0;}
        25% {opacity:1;}
        50% {opacity:0;}
        75% {opacity:1;}
        100% {opacity:0; visibility: hidden;}
      }
      
      @-webkit-keyframes fadeInOut {
        0% {opacity:0;}
        25% {opacity:1;}
        50% {opacity:0;}
        75% {opacity:1;}
        100% {opacity:0; visibility: hidden;}
      }
      
      @-o-keyframes fadeInOut {
        0% {opacity:0;}
        25% {opacity:1;}
        50% {opacity:0;}
        75% {opacity:1;}
        100% {opacity:0; visibility: hidden;}
      }
      
      @-ms-keyframes fadeInOut {
        0% {opacity:0;}
        25% {opacity:1;}
        50% {opacity:0;}
        75% {opacity:1;}
        100% {opacity:0; visibility: hidden;}
      }
    /* search */
    #search {
      animation: fadeIn 9s;
      -webkit-animation: fadeIn 9s;
      -moz-animation: fadeIn 9s;
      -o-animation: fadeIn 9s;
      -ms-animation: fadeIn 9s;
    }
    
    @keyframes fadeIn {
      0% {opacity:0;}
      40% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
      0% {opacity:0;}
      40% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      40% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
      0% {opacity:0;}
      40% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
      0% {opacity:0;}
      40% {opacity:0;}
      100% {opacity:1;}
    }
  
    /* restart */
    .restart {
      animation: fadeIn 11s;
      -webkit-animation: fadeIn 11s;
      -moz-animation: fadeIn 11s;
      -o-animation: fadeIn 11s;
      -ms-animation: fadeIn 11s;
    }
    
    @keyframes fadeIn {
      0% {opacity:0;}
      40% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
      0% {opacity:0;}
      40% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      40% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
      0% {opacity:0;}
      40% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
      0% {opacity:0;}
      40% {opacity:0;}
      100% {opacity:1;}
    }
      /* background*/
      .background {
        animation: fadeInBack 3.5s;
        -webkit-animation: fadeInBack 3.5s;
        -moz-animation: fadeInBack 3.5s;
        -o-animation: fadeInBack 3.5s;
        -ms-animation: fadeInBack 3.5s;
        animation-iteration-count: infinite;
      }
      
      @keyframes fadeInBack {
        0% {opacity:0;}
        50% {opacity: 0.8;}
        100% {opacity:0;}
      }
      
      @-moz-keyframes fadeInBack {
        0% {opacity:0;}
        50% {opacity: 0.8;}
        100% {opacity:0;}
      }
      
      @-webkit-keyframes fadeInBack {
        0% {opacity:0;}
        50% {opacity: 0.8;}
        100% {opacity:0;}
      }
      
      @-o-keyframes fadeInBack {
        0% {opacity:0;}
        50% {opacity: 0.8;}
        100% {opacity:0;}
      }
      
      @-ms-keyframes fadeInBack {
        0% {opacity:0;}
        50% {opacity: 0.8;}
        100% {opacity:0;}
      }
}

/* desktop */
@media only screen and (min-width: 813px) {
  /* portrait display: none */
  h2 {
    display: none;
  }
  .turnoff {
    display: none;
  }
  .rotate {
    display: none;
  }
  #search, .restart, .background, .loading-container {
    display: block;
  }

    /* body */
  input {
    width: 100%;
    height: 100px;
    text-align: center;
    border: none;
    font-family: "adobe-garamond-pro", serif;
    font-weight: bold;
    font-size: 45px;
    background-color: rgb(18, 18, 18, 0);
    color: #E1CD76;
    margin-top: 300px;
  }
  
  /* restart */
  .restart-container {
    width: 100%;
    height: 100%;
  }

  .restart {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.3);
    text-align: center;
    position: relative;
    top: 250px;
  }
  
  .restart:hover {
    color: white;
  }

  /* background */
  
  .background {
    top: 26%;
    left: 36%;
  }
  
  
  .fig1 {
    width: 378px;
    height: 341px;
  }
  
  
  .fig2 {
    width: 307.56px;
    height: 268.3px;
  }
  
  .fig3 {
    width: 307.56px;
    height: 268.3px;
  }
  
  .fig4 {
    width: 782px;
    height: 744.37px;
  }
  
  .fig5 {
    width: 315.74px;
    height: 301.02px;
  }

  /* loading */
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin-top: -28%;
  }

  .loading1 {
    color: rgb(255, 255, 255, 0.5);
    font-family: Helvetica, sans-serif;
    font-size: 23px;
    font-weight: lighter;
  }

    /* loading */
    .loading1 {
      animation: fadeInOut 3.3s linear 1 normal forwards;
      -webkit-animation: fadeInOut 3.3s linear 1 normal forwards;
      -moz-animation: fadeInOut 3.3s linear 1 normal forwards;
      -o-animation: fadeInOut 3.3s linear 1 normal forwards;
      -ms-animation: fadeInOut 3.3s linear 1 normal forwards;
    }
    
    @keyframes fadeInOut {
      0% {opacity:0;}
      25% {opacity:1;}
      50% {opacity:0;}
      75% {opacity:1;}
      100% {opacity:0; visibility: hidden;}
    }
    
    @-moz-keyframes fadeInOut {
      0% {opacity:0;}
      25% {opacity:1;}
      50% {opacity:0;}
      75% {opacity:1;}
      100% {opacity:0; visibility: hidden;}
    }
    
    @-webkit-keyframes fadeInOut {
      0% {opacity:0;}
      25% {opacity:1;}
      50% {opacity:0;}
      75% {opacity:1;}
      100% {opacity:0; visibility: hidden;}
    }
    
    @-o-keyframes fadeInOut {
      0% {opacity:0;}
      25% {opacity:1;}
      50% {opacity:0;}
      75% {opacity:1;}
      100% {opacity:0; visibility: hidden;}
    }
    
    @-ms-keyframes fadeInOut {
      0% {opacity:0;}
      25% {opacity:1;}
      50% {opacity:0;}
      75% {opacity:1;}
      100% {opacity:0; visibility: hidden;}
    }

    /* search */
    #search {
    animation: fadeIn 9s;
    -webkit-animation: fadeIn 9s;
    -moz-animation: fadeIn 9s;
    -o-animation: fadeIn 9s;
    -ms-animation: fadeIn 9s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }

  /* restart */
  .restart {
    animation: fadeIn 11s;
    -webkit-animation: fadeIn 11s;
    -moz-animation: fadeIn 11s;
    -o-animation: fadeIn 11s;
    -ms-animation: fadeIn 11s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    40% {opacity:0;}
    100% {opacity:1;}
  }
    /* background*/
    .background {
      animation: fadeInBack 3.5s;
      -webkit-animation: fadeInBack 3.5s;
      -moz-animation: fadeInBack 3.5s;
      -o-animation: fadeInBack 3.5s;
      -ms-animation: fadeInBack 3.5s;
      animation-iteration-count: infinite;
    }
    
    @keyframes fadeInBack {
      0% {opacity:0;}
      50% {opacity: 0.8;}
      100% {opacity:0;}
    }
    
    @-moz-keyframes fadeInBack {
      0% {opacity:0;}
      50% {opacity: 0.8;}
      100% {opacity:0;}
    }
    
    @-webkit-keyframes fadeInBack {
      0% {opacity:0;}
      50% {opacity: 0.8;}
      100% {opacity:0;}
    }
    
    @-o-keyframes fadeInBack {
      0% {opacity:0;}
      50% {opacity: 0.8;}
      100% {opacity:0;}
    }
    
    @-ms-keyframes fadeInBack {
      0% {opacity:0;}
      50% {opacity: 0.8;}
      100% {opacity:0;}
    }

}