.droplet {
  margin: 50px;
  width: 200px;
  height: 200px;
  position: relative;
  background-color: grey;
  /* create droplet shape */
  border-radius: 50%;
  border-top-right-radius: 0;
  transform: rotate(-45deg);
  /* create animation keyframe name */
  animation-name: droplets;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-timing-function: ease-in;
}

@keyframes droplets {
  0% {background-color: hotpink; top: 50px; }
  25% {background-color: rgb(159, 9, 84); top: 150px; }
  50% {background-color: rgb(77, 4, 40); top: 300px; }
  75% {background-color: rgb(130, 112, 121); top: 500px; }
  100% {background-color: hotpink; top: 800px; border-radius: 0 50% 75% 50% }
}

.egg {
  width: 200px;
  height: 250px;
  color: black;
  position: relative;
  left: 500px;
  top: -200px;
  background-color: #DEB573;
  /* create egg shape */
  border-radius: 50%;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
  z-index: 1;
}

.jam {
  width: 120px;
  height: 120px;
  color: black;
  position: relative;
  left: 540px;
  top: -350px;
  background-color: lightgoldenrodyellow;
  /* create egg shape */
  border-radius: 50%;
  z-index: 2;
}

.eggs {
  animation-name: eggs;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-timing-function: ease-in;
}

@keyframes eggs {
  0% {transform: rotate(0deg); top: 60px; }
  25% {transform: rotate(90deg); top: 180px; }
  50% {transform: rotate(180deg); top: 320px; }
  75% {transform: rotate(270deg); top: 600px; }
  100% {transform: rotate(360deg); top: 900px; }
}