html {
  text-align: center;
  margin: auto;
  font-family: "Fixedsys Excelsior 3.01"
}

/* content */
#pressEnter {
  font-size: 35px;
  margin-top: 330px;
}

/* 1. start game */
#line {
  width: 100%;
  height: 2px;
  position: fixed;
  top: 70%;
  background-color: black;
  display: none;
  margin-left: -8px;
  padding: 0;
  /* transform */
  transform: translateY(calc(10px * var(--translate))) scale(var(--scale)) rotate(calc(1deg * var(--rotate)));
}
  /* character */
#character {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid black;
  margin: auto;
  display: none;
  position: absolute;
  background-color: white;
  /* create animation keyframe */
  animation-name: character;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  /* transform */
  transform: translateX(calc(10px * var(--translate))) scale(var(--scale)) rotate(calc(1deg * var(--rotate)));
}

/* (animation) */
@keyframes character {
  from {
    height: 250px;
    top: -270px;
    left: 45%;
  }
  to {
    height: 150px;
    top: 53%;
    left: 45%;
  }
}

#charactername {
  width: 156px;
  text-align: center;
  font-size: 27px;
  position: absolute;
  top: -75px;
  left: -2px;
}

#l-eye {
  width: 10px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 47px;
  top: 50px;
}

#r-eye {
  width: 10px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 94px;
  top: 50px;
}

#result {
  display: none;
  font-size: 18px;
  width: 40%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: white;
  padding: 10px 0 3px 0;
}
/* keyboard */
.disappear {
  display: none;
}

/* pet */
.pet {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  margin: auto;
  display: none;
  position: absolute;
  background-color: white;
  /* create animation keyframe */
  animation-name: pet;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* (animation) */
@keyframes pet {
  from {
    height: 100px;
    top: -130px;
    left: 100%;
  }
  to {
    height: 30px;
    top: -18%;
    left: 100%;
  }
}
.pet-lefteye {
  width: 3px;
  height: 5px;
  background-color: black;
  position: absolute;
  left: 10px;
  top: 10px;
}

.pet-righteye {
  width: 3px;
  height: 5px;
  background-color: black;
  position: absolute;
  right: 10px;
  top: 10px;
}