body {
  font-family: times new 'Times New Roman', Times, serif;
  background-color: #121212;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.4em;
  margin: 100px 20px 0 20px;
  color: white;
  display: inline;
}


.sub {
  color: rgb(255, 255, 255, 0.6);
  font-size: 25px;
  font-weight: 200;
  margin: 10px 0 150px 0;
}
p {
  text-align: center;
  font-size: 30px;
  margin-top: 170px;
  color: white;
}


a {
  text-decoration: none;
}

.ho1:hover, .ho2:hover, .ho3:hover, .ho4:hover, .ho5:hover, .ho6:hover, .ho7:hover, .ho8:hover {
  color: rgb(255, 255, 255, 0.15)
}

.ho9:hover {
  cursor: pointer;
  font-style: italic;
}

@media only screen and (max-width: 767px) {
  html {
    padding-left: 16px;
    padding-right: 16px;
  }
  .sub {
    display: none;
  }
  p {
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 250px;
    line-height: 1.5em;
  }
  h1 {
    font-size: 40px;
    letter-spacing: 0.05em;
    line-height: 1.5em;
  }
}