.mobile {
  display: none;
}
/* body */
body {
  font-family: poppins;
  margin-left: 70px;
}

p {
  line-height: 1.8em;
  margin-top: 70px;
  font-size: 20px;
}

.hidden {
  display: inline;
  margin-right: 20px;
  width: 50px;
  height: 30px;
  padding: 5px 20px 5px 20px;
  border: 4px solid #FF426F;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 30px;
}
.button {
  margin-top: 70px;
}

.button2 {
  margin-top: 30px;
}

.h01 {
  margin-right: 20px;
  display: inline;
  font-weight: 700;
  font-size: 30px;
}

.h02 {
  margin-right: 20px;
  display: inline;
  font-weight: 700;
  font-size: 30px;
}

a:hover {
  color: rgb(255, 66, 111, 0.5)
}

.pink {
  color: #FF426F;
}

/* mobile */
@media only screen and (max-width: 767px) {
  body {
    margin: 0;
  }

  html {
    padding-left: 16px;
    padding-right: 16px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  p {
    font-size: 15px;
    line-height: 1.8em;
  }

  a {
    display: block;
    margin-top: 30px;
    font-size: 25px;
  }

  .h01 , .h02{
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  a {
    font-size: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  }