html {
  background-color: #121212;
}

/* portrait */
.title-container, .filter-container, .help, .container, .next-container {
  display: none;
}

h2 {
  color: rgba(242, 13, 33, 0.7);
  font-family: "adobe-garamond-pro", serif;
  font-size: 28px;
  text-align: center;
}

.turnoff {
  color: rgb(255, 255, 255, 0.3);
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  position: relative;
  top: -300px;
}
.rotate {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (orientation: landscape) {
  /* portrait display: none */
  h2 {
    display: none;
  }
  .turnoff {
    display: none;
  }
  .rotate {
    display: none;
  }
  .title-container, .filter-container, .help, .container, .next-container {
    display: block;
  }

  /* title */
  .title {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: "adobe-garamond-pro", serif;
    font-weight: 500;
    margin: 60px 0 10px 0;
    color: #E1CD76;
  }

  /* next */
  .next-container {
    width: 80px;
    height: 50px;
    z-index: 90;
    background-color: rgb(255, 255, 255, 0.5);
    position: fixed;
    top:0px;
    right:0px;
    
  }
  .next {
    z-index: 100;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: black;
    position: absolute;
    top: 16px;
    right: 18px;
    cursor: pointer;
  }

  /* direction */
  .direction {
    font-family: Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 100px;
    color: rgb(255, 255, 255, 0.3);
    font-size: 16px;
    text-align: center;
  }

  /* filter */
  .filter {
    margin-left: 30px;
    float: left;
    width: 30%;
  }

  .filter-title {
    font-size: 16px;
    margin-bottom: 1.5rem;
    font-weight: 100;
    color: rgb(255, 255, 255, 0.3);
    font-family: Helvetica, sans-serif;
  }

  .ind {
    font-size: 18px;
    display: block;
    margin-bottom: 1.3rem;
    color: rgb(255, 255, 255, 0.5);
    cursor: pointer;
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
  }

  /* card */
  .container {
    width: 65%;
    float: right;
    margin-bottom: 50px;
  }

  .card-container {
    padding: 1.1rem;
    width: 110px;
    height: 210px;
    display: inline-flex;
    flex: left;
    position: relative;
  }

  .card-image {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 813px) {
  .title-container, .filter-container, .help, .container, .next-container {
    display: block;
  }

  /* portrait display: none */
  h2 {
    display: none;
  }
  .turnoff {
    display: none;
  }
  .rotate {
    display: none;
  }

  /* next */
  .next-container {
    z-index: 90;
  }
  .next {
    color: black;
    position: absolute;
    top: 16px;
    right: 18px;
    cursor: pointer;
    z-index: 100;
  }

  /* filter */
  .filter {
    margin-left: 50px;
  }

  .ind {
    font-size: 20px;
  }

  /* card */
  .card-container {
    padding: 1.2rem;
      width: 130px;
      height: 230px;
  }

  .card-image {
    cursor: pointer;
  }

}

/* my card collection */
/* .mycard {
  font-size: 16px;
  font-weight: bold;
  color: black;
  font-family: Helvetica, sans-serif;
  margin-left: 20px;
  margin-bottom: 1.5rem;
}

.cart {
  width: 30%;
  height: 150px;
  background-color: rgb(255, 255, 255);
  float: left;
  position: fixed;
  bottom: 0px;
  z-index: 100;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: left;
  margin-left: 10px;
}

.buttonind {
  margin-left: 5px;
} */

/* cart */
/* *, *:before, *:after {
  box-sizing: inherit;
}

#cart {
  padding: var(--gutter);
  position: fixed;
  bottom: 0;
  max-width: 55ch;
  background-color: #ddd;
  z-index: 10; 
}

#cart-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: var(--gutter);
}

.cart-button {
  width: 100%;
}

.cart-item-remove {
  margin-top: calc(var(--gutter) / 2);
}

.cart-proceed {
  margin-top: var(--gutter);
} */
